/* Colores principales */
:root {
  --color-primario: #3d70b2;
  --color-secundario: #f4a261;
  --color-fondo: #f8f8f8;
  --color-texto: #333333;
}

/* Estilos generales */
body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para el header */
header {
  background-color: var(--color-primario);
  color: #ffffff;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add these styles to your existing CSS code */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 160px;
  margin-left: 10px;
}

/* Add these styles to your existing CSS code */
.logo-text {
  margin-left: 10px;
  color: #ffffff;
}

.logo-name {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
  margin: 0;
}

.engineer-name {
  font-size: 20px; /* Adjust the size as needed */
  margin: 0;
}

/* Adjust styles for smaller screens if needed */
@media (max-width: 768px) {
  .logo-name {
    font-size: 18px; /* Adjust the size as needed */
  }

  .engineer-name {
    font-size: 14px; /* Adjust the size as needed */
  }

  .logo img {
    width: 80px;
    margin-left: 5px;
  }
}

.contacto {
  font-size: 23px;
  display: flex;
  align-items: center;
}

.contacto a {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}

/* Estilos para la sección de eslogan y banner */
.slogan-banner {
  background-image: url("../img/wallpaper.jpg"); /* Replace with the path to your banner image */
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.slogan {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}

.slogan h2 {
  font-size: 24px;
  margin: 0;
}

/* Adjust styles for smaller screens if needed */
@media (max-width: 768px) {
  .slogan h2 {
    font-size: 18px;
  }
}

/* Estilos para el filtro */
.filtro {
  text-align: center;
  margin: 15px 0;
}

.filtro .categoria {
  display: inline-block;
  padding: 7px 10px;
  margin-right: 8px;
  background-color: var(--color-secundario);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .filtro .categoria {
    padding: 3px 5px;
    margin-right: 3px;
    margin-top: 3px;
    font-size: 10px;
  }
}

.filtro .categoria:hover,
.filtro .categoria.active {
  background-color: #e76f51;
}

/* Estilos para la galería */
.galeria {
  background-color: var(--color-fondo);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 5px;
}

.imagen,
.video {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.imagen img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen:hover img {
  transform: scale(1.05);
}

.video {
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s;
}

.video-overlay i {
  color: #fff;
  font-size: 4rem;
}

/* Estilos para el lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.lightbox .cerrar {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.lightbox .media-ampliada img,
video {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
  margin-top: 5%;
}

/* Estilos para las categorías */
.categoria {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.categoria:hover,
.categoria.active {
  background-color: #e76f51;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.whatsapp-btn:hover {
  background-color: #128c7e;
}

/* Estilos para dispositivos móviles */

/* Estilos generales */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .logo {
    width: 120px;
  }

  .contacto {
    font-size: 16px;
  }
}

/* Estilos para el banner */
@media (max-width: 768px) {
  .banner {
    font-size: 24px;
  }
}

/* Estilos para el filtro */
@media (max-width: 768px) {
  .filtro {
    margin: 10px 0;
  }

  .filtro .categoria {
    padding: 6px 10px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
  }
}

/* Estilos para la galería */
@media (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
  }

  .imagen,
  .video {
    height: 250px;
  }
}

/* Estilos para el lightbox */
@media (max-width: 768px) {
  .lightbox .cerrar {
    top: 10px;
    right: 20px;
    font-size: 20px;
  }

  .lightbox .media-ampliada img,
  video {
    max-width: 90%;
    max-height: 90%;
    margin-top: 10%;
  }
}

/* Estilos para las categorías */
@media (max-width: 768px) {
  .categoria {
    padding: 6px 10px;
    margin-right: 5px;
    font-size: 12px;
  }
}

/* Estilos para el botón de WhatsApp */
@media (max-width: 768px) {
  .whatsapp-btn {
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
